.ta-editor.ta-html, .ta-scroll-window.form-control {
  height: 150px !important;
  min-height: 50px !important;
}
.ta-editor {
    //max-height: 150px;
    height: 150px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;

    .ta-toolbar{
      .btn-group{
        display: block;
      }
    }

    .ta-scroll-window{
      height: 150px;
      position: relative;

      .ta-bind, .form-control{
        height: 100%;
        min-height: 150px;
      }
    }
}