* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

h2, h3{
  color: #2e3336 !important;
}

em {
  font-style: normal;
  text-decoration: underline;
}

.clearfix:before, .clearfix:after{
	content: '';
	display: table;
}

.clearfix:after{
	clear: both;
}


#toasty{
	top: 60px !important;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}
